
body
{
     margin: 0px;
     padding: 0px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: rgb(30, 32, 32);
     color: rgb(9, 9, 9);

}


div.intro_one
{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     height: 350px;
     background-image: url("Runway 2024-09-17T19_58_32.578Z Upscale Image Upscaled Image 2882 x 1920.jpg");

     background-size: 100%;
     background-position: center 10%;

     background-repeat: no-repeat;
     /* background-color: antiquewhite; */
}

div.intro_one>img
{
     width: 100%;

}

div.big_container
{
     width: 100%;
     height: fit-content;
     display: flex;
     flex-wrap: wrap;
     color: whitesmoke;
     /* gap: 5px; */
     background-color: rgb(40, 41, 41);
}

div.left_container
{
     display: inline-flex;
     flex-wrap: wrap;
     width: 50%;
     margin-inline: auto;
     margin-top: 5%;
}

@media screen and (max-width: 768px) {

     div.left_container
{
     display: inline-flex;
     flex-wrap: wrap;
     width: 70%;
     margin-inline: auto;
     margin-top: 5%;
}

div.right_container
{
     
     width: 70%;
     height: fit-content;
     margin-inline: auto;
     /* border: 2px solid whitesmoke; */
     /* background-color: cadetblue; */
}
     
}

div.right_container
{
     
     width: 45%;
     height: fit-content;
     /* border: 2px solid whitesmoke; */
     /* background-color: cadetblue; */
}

div.top_container
{
     display: inline-flex;
     flex-wrap: wrap;
     gap: 10px;
     width: 90%;
     /* background-color: chocolate; */
     margin-inline: auto;
    
}

div.bottom_container
{
     width: 100%;
     margin-top: 7%;
     margin-bottom: 5%;
}

/* content of left container */

h1{
     width: 100%;
     margin: 0px;
     padding: 0px;
}


h1#contact_head ,#left_head 
{
     width: 100%;
     /* padding-top: 15%; */
     height: fit-content;
     background-color: rgba(0, 0, 0, 0.406);
     backdrop-filter: blur(10px);
     text-align: center;
     
}

h1#contact_head
{
     margin-top: 20%;
     width: 100%;
     height: fit-content;
}


p
{
     width: 100%;
     height: fit-content;
     text-align: center;
     margin: 0px;
     margin-bottom: 10%;
     padding: 0px;
}

@media screen and (max-width:450px){

     h1#contact_head
{
     margin-top: 30%;
     width: 100%;
     height: fit-content;
}

p
{
     width: 100%;
     height: fit-content;
     text-align: center;
     margin-top: -20%;
     margin-bottom: 10%;
     padding: 0px;
}
     
}


div.info
{
     width: 40%;
     margin: auto;
     padding-bottom:7%;

}

div.info >label
{
     color: rgb(0, 149, 255);
     font-size: 20px;
     font-family: monospace;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bold;
     letter-spacing: 1.5px;

}

li
{
     margin-left: 20%;
     font-size: 15px;
     letter-spacing: 0.5px;
     font-weight:550;
}

a{
     color: whitesmoke;
}


/* info container inside img tag */
div.info img
{
     width: 15%;
     margin: auto;
     

}


form
{
     display: inline-flex;
     flex-wrap: wrap;
     padding-left: 3%;
     width: 80%;
     height: 450px;
     border: 2px solid rgb(106, 106, 106);
}
form>label
{
width: 20%;
margin-top: 5%;
padding:2%;
}

input{
     margin-top: 5%;
     width: 20%;
     height: fit-content;
     padding: 5px;
     border-radius: 15px;
     color: whitesmoke;
     outline: 1px solid whitesmoke;
     background-color: transparent;
}

input::placeholder
{
color: whitesmoke;

}

button
{
     
     margin-left:15%;
     height: 10%;
     margin-top: 5%;
     width: 20%;
     border-radius: 5px;
}

h3
{
padding-left: 5%;
width: 100%;
font-size: larger;
font-weight: 500;
}



iframe 
{
     width:100%;
}

@media screen and (max-width: 768px) {

     iframe 
{
     width:500px;
}

}

@media screen and (max-width: 768px) {

     iframe 
{
     width:350px;
}


form
{
     display: inline-flex;
     flex-wrap: wrap;
     padding-left: 3%;
     width: 100%;
     height: 450px;
     border: 2px solid rgb(106, 106, 106);
}

}

@media screen and (max-width: 450px) {

     iframe 
{
     margin-left: 0;
     width:300px;
     margin-inline: auto;
}



form
{
     display: inline-flex;
     flex-wrap: wrap;
     align-self: center;
     margin-left: -43%;
     width: 182%;
     height: 450px;
     border: 2px solid rgb(106, 106, 106);
}

}





div.faq
{
     display: flex;
     flex-wrap: wrap;
     gap: 15px;
     width: 100%;
     align-items: center;
     justify-content: center;
     background-image: url("Fitness.jpg");
     background-size: cover;
     background-position:center 30% ;
     background-repeat: no-repeat;
}

h1#faq_qns
{
     width: 100%;
     color: whitesmoke;
     margin-top: 5%;
     text-align: center;
}

@media screen and (max-width:450px) {
     h1#faq_qns
{
     font-size: 23px;
     width: 100%;
     color: whitesmoke;
     margin-top: 5%;
     text-align: center;
}

summary
{

     margin-bottom: 2%;
     margin-top: 5%;
     font-size: 20px;


}

details
{
margin-bottom: 5%;
margin-top: 5%;
font-size: 10px;

}
}

div.faq > li
{
width: 60%;
color: whitesmoke;

}

details
{
margin-bottom: 5%;
margin-top: 5%;
font-size: 20px;

}

summary
{

     margin-bottom: 2%;
     margin-top: 5%;
     font-size: 35px;


}

.question
{
     width: 100%;   
}